@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


:root {
    --bg-cinza: #E8E8E8;
    --ft-branco: #FFFFFF;
    --bg-azul: #4D41C0;
    --ft-cinza: #4A4A4A;

}

* { 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--bg-cinza);
}

header {
    background-color: var(--bg-azul);
    color: var(--ft-branco);
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav h1 {
    font-weight: 700;
    font-size: 24px;
}

nav a{
    color: unset; 
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}
nav a:hover{
   color: var(--bg-cinza); 
   text-decoration: none;
   font-size: 12px;
   font-weight: 400;        
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
} 

.container-space {
    display: flex;
    align-items: center;

}

.container-space img {
    margin-right: 10px;
    height: 23.41px;
}

#dsmovie-card-list {
    padding: 70px 0 40px 0;
}

.dsmovie-card {
    width: 100%;
    height: 100%;
}

.dsmovie-card img {
    width: 100%;
    height: 65%;
    border-radius: 8px 8px 0 0;

}

.dsmovie-card-description {
    background-color: var(--ft-branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 9px 15px 20px 15px;
    border-radius: 0 0 8px 8px;
    min-height: 160px;
    
}

.dsmovie-card-description h3 {
    margin-bottom: 23px;
    color: var(--ft-cinza);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    
}

.dsmovie-btn {
    background-color: var(--bg-azul);
    height: 40px;
    width: 180px;
    text-decoration: none;
    color: var(--ft-branco);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.dsmovie-btn:hover {
    background-color: var(--bg-azul);
    height: 40px;
    width: 180px;
    text-decoration: none;
    color: var(--bg-cinza);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

