@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


:root {
    --bg-cinza: #E8E8E8;
    --ft-branco: #FFFFFF;
    --bg-azul: #4D41C0;
}

* { 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--bg-cinza);
}

header {
    background-color: var(--bg-azul);
    color: var(--ft-branco);
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav h1 {
    font-weight: 700;
    font-size: 24px;
}

nav a{
    color: unset; 
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}
nav a:hover{
   color: var(--bg-cinza); 
   text-decoration: none;
   font-size: 12px;
   font-weight: 400;        
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
} 

.container-space {
    display: flex;
    align-items: center;

}

.container-space img {
    margin-right: 10px;
    height: 23.41px;
}